In [1]:
import numpy as np
import pandas as pd

In [7]:
obj = pd.Series([4,7,5,3,6,7])
obj
#series has values and data labels called index.. Here we do not specify the index
#output will be like
# 0    4
# 1    7
# 2    5
# 3    3
# 4    6
# 5    7
# dtype: int64

0    4
1    7
2    5
3    3
4    6
5    7
dtype: int64

In [9]:
obj.array #it will give the values in the form of array
# <NumpyExtensionArray>
# [np.int64(4), np.int64(7), np.int64(5), np.int64(3), np.int64(6), np.int64(7)]
# Length: 6, dtype: int64
obj.index
#RangeIndex(start=0, stop=6, step=1

RangeIndex(start=0, stop=6, step=1)

In [13]:
#defining the index
obj2 = pd.Series([4,7,5,-3], index=["d","b","a","c"])
obj2
# d    4
# b    7
# a    5
# c   -3
# dtype: int64

d    4
b    7
a    5
c   -3
dtype: int64

In [17]:
obj2[["c","a","d"]]
#output will be
# c   -3
# a    5
# d    4
# dtype: int64

c   -3
a    5
d    4
dtype: int64

In [19]:
#in the above series if we want values only greater than 0
obj2[obj2>0]
#if we want to multiply the values in obj2
obj2 * 2

d     8
b    14
a    10
c    -6
dtype: int64

In [22]:
#series is like a dictionary having mapping of index values to data values
"b" in obj2
#output will be True. It checks the key not the value

False

In [25]:
#creating a series from python dictionary
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3
# what will happens is that key will become index and value will be value
# in order to change obj3 back to dict
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [31]:
#Now if we want to change the key values from the index. We will create our own index
states = ["California", "Ohio", "Oregon", "Texas"]
obj3 = pd.Series(sdata, index=states) #we passed states as index
obj3
#output
# California        NaN
# Ohio          35000.0
# Oregon        16000.0
# Texas         71000.0
# dtype: float64
# because California does not have any value in dict. Utah will be gone because it is not
# present in states index
pd.isna(obj3)
#the result will be true only for california as its value is NA
pd.notna(obj3)
#only california will be false and rest will be true

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [32]:
#now we want name attribute for values and index
obj3.name = "popultion" # so the value will be of population
obj3.index.name = "state" # index will be of state
obj3
# state
# California        NaN
# Ohio          35000.0
# Oregon        16000.0
# Texas         71000.0
# Name: popultion, dtype: float64
# So the states are given their population values of type float

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: popultion, dtype: float64